html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #333;
  padding: .4em .75em .3em;
  margin: 0;
  border-width: 3px;
  border-radius: 8px;
  font-size: 1.125rem;
  text-decoration: none;
}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
}
